body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

kbd {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  color: #333;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  letter-spacing: .1rem;
}

.content p {
  line-height: 2.25rem;
  text-align: justify;
}

.brand-main a {
  font-size: 3rem;
}

.tagline {
  font-size: 1.5rem;
}

.cover-mask {
  background: rgba(0, 0, 0, .4);
  height: 100%;
}

.links a {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
