<div class="sidebar pure-u">
    <div class="cover-img" style="background-image: url('{{ COVER_IMG_URL }}')">
        <div class="cover-mask">
            <div class="cover-body">
                <header class="header">
                    <hgroup>
                        <h1 class="brand-main"><a href="/">{{ SITENAME }}</a></h1>
                        <p class="tagline">{{ TAGLINE }}</p>
                    {% for title, link in MENUITEMS %}
                        <p class="links"><a href="{{ link }}">{{ title }}</a></p>
                    {% endfor %}
                    {% if TIPUE_SEARCH %}
                        <form class="search-form" action="search.html">
                            <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
                        </form>
                    {% endif %}
                        <p class="social">
                    {% for title, link in SOCIAL %}
                        {% if title != 'flipboard' %}
                            <a href="{{ link }}">
                                <i class="fa fa-{{ title }} fa-3x"></i>
                            </a>
                        {% else %}
                            <a href="{{ link }}?utm_campaign=widgets&utm_source=logo&utm_medium=web">
                                <img class="flipboard-icon" src="http://cdn.flipboard.com/badges/flipboard_mwsw.png" alt="Flipboard" />
                            </a>
                        {% endif %}
                    {% endfor %}
                        <p>
                    </hgroup>
                </header>
            </div>
        </div>
    </div>
</div>
